body {
    background-color: black;
}

h1, h2, h3, a {
    color: white;
    font-family:'Segoe UI';
}

.header {
    padding-top: -10%;
    text-align: center;
}

.main {
    background-color: gray;
    position: fixed;
    width: 30%;
    height: 43%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5%;
}
